---
layout: default
title: Federal Agency Developer Portals
---

<!-- News -->
<a name="News"></a>
{% assign apis = site.data.apis %}
{% assign apis = apis | sort: 'name' %}
<section>
	<header>
		<h2>Agencies</h2>
	</header>
	<p></p>
	<div class="table-wrapper" style="height: 500px; overflow: auto;">
		<table class="alt">
			<thead>
				<tr>
					<th>Agency</th>
					<th>URL</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% assign count = 0 %}
				{% for api in apis %}
					<tr>
						<td>{{ api.name }}</td>
					</tr>
					{% for entry in api.apis %}
						<tr>
							<td>{{ entry.name }}</td>
							<td>{{ entry.url }}</td>
						</tr>
						{% assign count = count | plus: 1 %}
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
		<p align="center">{{ count }} apis</p>
	</div>
</section>
